page-partidos-details {
    .inicio{
        background-image: url("../../assets/imgs/EnJ.jpg");
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        color:white;

        //background-color: red;
    }
    .listaLeft{
        background-color:white ;
        text-align: center;
        color:black;
       opacity: 0.6;
       margin-left:1em;
       margin-top:1em;
       margin-bottom:1em;
    }
    .listaRight{
        background-color:white ;
        color:black;
        margin-right:1em;
       margin-top:1em;
       margin-bottom:1em;
       opacity: 0.6;
       
    }
   
}
